.gameWords {
  font-size: 20px;
}
.currentLetterCursorLight {
  width: 1px;
  border-left: 0.5px solid white;
  animation-name: currentLetterCursor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.currentLetterCursorDark {
  width: 1px;
  border-left: 0.5px solid black;
  animation-name: currentLetterCursor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes currentLetterCursor {
  50% {
    border-left: 0.5px solid transparent;
  }
}
